{% load static %}
<html>
    <head>
        <title>Registro de Equipamento</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/ordem_de_servico.css' %}">
    </head>
    <body>
	<center>
        <div class="col-md-12">
            <div class="page-header">
                <h2><a href="/"><font color="white">Voltar</font></a></h2>
                <h2><a href="{% url 'equipment_new' %}" ><font color="white">Incluir Equipamento</font></a></h2>
            </div>
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
	</center>
    </body>
</html>