{% load static %}
<html>
    <head>
        <title>Registro de Ordem de Servico</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/ordemservico.css' %}">
    </head>
    <body>
	<center>
        <div class="col-md-12">
        <div class="page-header2">
	    <h1><a href="{% url 'ordem_list' %}"><font color="#6B63BE"><b>Voltar</b></font></a></h1>
            <h1><a href="{% url 'ordem_new' %}" ><font color="#6B63BE"><b>Incluir Nova OS</b></font></a></h1>
       
        </div>
  	            {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
	</center>
    </body>
</html>


