<html>
    <head>
        <title>Tabela de Equipamentos para Manutencao</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Equipamentos</a></h1>
        </div>

        {% for equipment in equipments %}
    <div>
        <h1><a href="{% url 'equipment_detail' pk=equipment.pk %}">{{ equipment.equipamento }}</a></h1>
        <p>marca: {{ equipment.marca|linebreaksbr }}</p>
	<p>modelo: {{ equipment.modelo|linebreaksbr }}</p>
	<p>n_serie: {{ equipment.n_serie|linebreaksbr }}</p>
    </div>
{% endfor %}