<html>
    <head>
        <title>Tabela de Equipamentos para Manutencao</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Equipamentos</a></h1>
        </div>

        {% for equipamento in equipamentos %}
    <div>
        <h1><a href="{% url 'equipment_detail' pk=equipamento.pk %}">{{ equipamento.equipamento }}</a></h1>
        <p>marca: {{ equipamento.marca|linebreaksbr }}</p>
	<p>modelo: {{ equipamento.modelo|linebreaksbr }}</p>
	<p>n_serie: {{ equipamento.n_serie|linebreaksbr }}</p>
    </div>
{% endfor %}